@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom, #ffffff, #000000);
  font-family: Arial, Helvetica, sans-serif;
}


.container {
  padding: 20px;
}

/* Additional styles for gradient text */
.bg-gradient-text {
  background: linear-gradient(to right, #000000, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.title {
  font-size: 2rem;
  color: #333;
}

.lightBlue {
  color: lightblue;
}

.darkBlue {
  color: darkblue;
}

.phrases {
  font-size: 1rem;
  margin-bottom: 10px;
}

.button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

.ligne {
  margin: 20px 0;
}
